*{
    margin: 0  auto;    
}

@font-face {
	font-family: Rokkit-Regular;
	src: url(../fonts/Rokkitt-Regular.ttf);
}

header{
    width: 70%;
    background-color: #4448AA;
    padding-bottom: 50px;
}

#bottons_up{
    display: flex;
}

.header_bottons{
    background-color: #87aef8;
    font-family: Rokkit-Regular;
    border: none;   
    color: #45495a;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#login_and_register button{
    height: 30px;
    cursor:pointer;
}
#shopping-carts button{
    height: 50px;
    font-size: 20pt;
    cursor:pointer;
}
#search{
    margin-top: 20px;
    margin-left: 200px;
    display: flex;
}

#search label{
    background-color: #87aef8;
    padding: 15px;
    border-radius: 5px;
    font-size: 16pt;
    margin-right: 50px;
    margin-left: 0;
    font-family: Rokkit-Regular;
}

#search #search_input{
    width: 50%;
    padding: 10px;
    margin-right: 0;
}

#search #search_button{
    width: 50px;
    height: 50px;
    background-color: #87aef8;
    margin-left: 0;
}

#search #search_button img{
    width: 100%; 
}

#tittle-offer{
    display: inline;
}

#tittle-offer-label{
    padding: 10px 100px;
    border-radius: 10px 10px 0px 0px;
    font-family: Rokkit-Regular;
    font-size: 20pt;
    background-color: #87aef8;
    color: #45495a;
}

#content{
    width: 70%;
    background-color: #919bf3;
}

#offer-body{
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#offer-header{
    width: 100%;
    display: flex;
    padding-top: 50px;
}

#offer-carrousel{
    background-color: #4448AA;
    width: 80%;
    border-radius: 10px;
    display: flex;
}

#offer-card{
    width: 200px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 50px;

}

#offer-card-image{
    height: 150px;
    width: 200px;
}
#offer-card-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#offer-card-info{
    margin-top: -30px 0;
    padding: 10px;
    background-color: #87aef8;
    text-align: center; 
    color: #fff;
    font-family: Rokkit-Regular;
    font-size: 18pt;
}

#offer-sale-button{
    display: flex;
    background-color: #87aef8;
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}

#offer-sale-button-img img{
    width: 100%;
}

#offer-sale-button-img{
    padding-left: 5px;
    height: 30px;
    width: 30px;
    margin-right: 0;
    background-color: #fff;
    border-radius: 10px 0 0px 10px;
}

#offer-sale-button-link{
    margin-left: 0;
    border: none;
    font-size: 15pt;
    background-color: #47329a;
    color: #fff;
    border-radius: 0 10px 10px 0px;
}

#added-products{
    padding: 20px 0;
    width: 80%;
}

#added-header{
    padding: 10px 0 ;
    color: #45495a;
    font-family: Rokkit-Regular;
    font-size: 18pt;
    background-color: #87aef8;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

#added-header label{

}

#added-cart-product{
    height: 150px;
    width: 80%;
    border: #87aef8 20px solid;
    border-radius: 10px;
}

#added-cart-product-content{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color:  #87aef8 ;
}
#added-cart-product-info{
    width: 60%;
    height: 100%;
    display: flex;
    margin-left: 0;
    border-radius: 10px;
}
#added-cart-product-info-img{
    width: 30%;
    height: 100%;
    background-color:  #87aef8;
    border-radius: 10px 0px 0px 10px;
}
#added-cart-product-info-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0px 10px;
}
#added-cart-product-info-content{
    width: 70%;
    border: transparent 15px solid;
    background-color: #919bf3;
    border-radius: 0px 10px 10px 0px;

}

#added-cart-product-info-content label{
    padding: 15px;
    text-align: center;
    color: #fff;
    font-family: Rokkit-Regular;
    font-size: 15pt;
}

#login-user{
    padding: 20px 0;
    width: 80%;
}

#login-user-header{
    padding: 10px 0;
    color: #45495a;
    font-family: Rokkit-Regular;
    font-size: 18pt;
    background-color: #87aef8;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
#login-user-header label{
    padding: 0 30px ;
}

#field-login{
    display: flex;
    width: 80%;
}

#access-user{
    width: 50%;
    border: transparent 15px solid;
    margin-right: 50px;
        border-radius: 10px;
    background-color: #87aef8;
}
#register-user{
    width: 50%;
    border: transparent 15px solid;
    margin-left: 50px;
    border-radius: 10px;
    background-color: #87aef8;

}

#access-user-header{
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #47329a;
    color: #fff;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    margin-bottom: 60px;
}
#access-user-header label{
    padding: 0 30px;
}

#access-user-content{
    margin:  0 30px;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    color: #45495a;
    padding-bottom: 50px;
}

#access-user-content-header{
    padding-bottom: 30px;
}

#access-user-content-email{
    margin: 15px 0 ;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    border: none;   
}
#access-user-content-passw{
    margin: 15px 0 ;
    padding: 7px;
    width: 50%;
    border-radius: 10px;
    border: none;
}

#access-user-content-button{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    color: #fff;
    background-color: #47329a;
    margin-top: 20px;
    cursor: pointer;    
}
#access-user-content-remember-div{
    padding-top: 40px;
    display: flex;
}

#register-user-header{
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #47329a;
    color: #fff;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    margin-bottom: 60px;
}

#register-user-header label{
    padding: 0 30px;
}

#register-user-content{
    margin:  0 30px;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    color: #45495a;
    padding-bottom: 50px;
}

#register-user-content-header{
    padding-bottom: 30px;
}

#register-user-content-name{
    margin: 15px 0 ;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    border: none;   
}

#register-user-content-email{
    margin: 15px 0 ;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    border: none;   
}
#register-user-content-name{
    margin: 15px 0 ;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    border: none;   
}
#register-user-content-number{
    margin: 15px 0 ;
    padding: 7px;
    width: 30%;
    border-radius: 10px;
    border: none;   
}
#register-user-content-cpf{
    margin: 15px 0 ;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    border: none;   
}
#register-user-content-neighborhood{
    margin: 15px 0 ;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    border: none;   
}
#register-user-content-street{
    margin: 15px 0 ;
    padding: 7px;
    width: 100%;
    border-radius: 10px;
    border: none;   
}
#register-user-content-street-div{
    width: 60%;
    margin-left: 0;
}
#register-user-content-number-div{
    width: 35%;
}
#register-user-content-complement{
    margin: 15px 0 ;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    border: none;   
}
#register-user-content-zip{
    margin: 15px 0 ;
    padding: 7px;
    width: 80%;
    border-radius: 10px;
    border: none;   
}

#register-user-content-passw-div{
    margin-left: 0;
    width: 50%;
}

#register-user-content-passw-confirm-div{
    width: 50%;
}

#register-user-content-passw{
    margin: 15px 0 ;
    padding: 7px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

#register-user-content-passw-confirm{
    margin: 15px 0 ;
    padding: 7px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

#register-user input[type=submit]{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    color: #fff;
    background-color: #47329a;
    margin-top: 20px;
    cursor: pointer;
}

#register-user-content-passw-all{
    display: flex;
}

#register-user-content-address{
    display: flex;
}

#register-revenues-address-div{
    border: 2px #47329a solid;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 50px
}

#register-revenues-address-label{
    text-align: center;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    color: #fff;
    margin-top: 30px
}

#register-revenues-address-label label{
    background-color: #47329a;
    border-radius: 10px 10px 0px 0;
    padding: 5px;

}

#verify-revenues-choice-div{
    display: flex
}

#verify-revenues-choice-div{
    border: 2px #47329a solid;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15pxpx
}

#painel-cliente-header{
    padding: 10px 0;
    color: #45495a;
    font-family: Rokkit-Regular;
    font-size: 18pt;
    background-color: #87aef8;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
#painel-cliente-header label{
    padding: 0 30px ;
}

#painel-cliente-content{
    margin-top: 50px;
    height: 800px;
    display: flex;
}

#painel-cliente-menu-div{
    width: 30%;
    display: inline;
    background-color: #87aef8;
    border-radius: 10px 0 0 10px;
}

#painel-cliente-infos-view{
    width: 70%;
    border-radius: 0 10px 10px 0 ;
    background-color: #4448AA;
    display: flex;
}

#painel-cliente-menu{
    display: flex;
}

.button-painel-cliente-menu{
    border: none;
    width: 95%;
    height: 100px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-family: Rokkit-Regular;
    font-size: 18pt;
    background-color: #4448AA;
}

#painel-cliente-infos-view-atualizar-cadastro{
    width: 90%;
    margin-top: 50px;
    
}

#painel-cliente-infos-view-atualizar-cadastro-endereco-faturamento{
    margin-top: 100px;
}

#painel-cliente-infos-view-atualizar-cadastro-dados-cadastrais-header{
    margin-bottom: 30px;
}
#painel-cliente-infos-view-atualizar-cadastro-dados-cadastrais-header label{
    padding: 5px 30px 5px 80px;
    color: #45495a;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    background-color: #87aef8;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

#painel-cliente-infos-view-atualizar-cadastro-dados-cadastrais-content{
    width: 100%;
    border-radius: 10px;
    background-color: #87aef8;
    padding-bottom: 30px;

}

#painel-cliente-infos-view-atualizar-cadastro-dados-cadastrais-content div{
    padding: 10px 0 10px 15px;
    color: #45495a;
    font-family: Rokkit-Regular;
    font-size: 15pt;

}

#painel-cliente-infos-view-atualizar-cadastro-dados-cadastrais-content input{
    border: none;
    width: 70%;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20px;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    color: #45495a;
}
#submit_atualizacao input{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-right: 30px;
    font-family: Rokkit-Regular;
    font-size: 15pt;
    color: #fff;
    background-color: #47329a;
    margin-top: 20px;
    cursor: pointer;
}
    
#painel-cliente-infos-view-atualizar-endereco-entrega{
    display: none
}