    
@font-face {
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans--Light;
    src: url(fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans--SemiBold;
    src: url(fonts/OpenSans-SemiBold.ttf);
}   


*{
    margin: 0 auto;
}
body{
    background: url(https://themes.kabum.com.br/conteudo/layout/1413/bg.jpg?int_banner_name=THEME-RTX-SERIE30&int_banner_position=tematizacao_listagem);
    
}


header{
        text-align: center;
        padding: 50px;
        background-color: #6343A1; 
        color: white;
        font-family: OpenSans--SemiBold;
}

#conteudo{
    display: block;
    text-align: center;
    width: 70%;
    background-color: #d3d3d3;
}
/* Cadastro Produto */
#cadastrar-produto{
    background-color: #C3ADF0;
    width: 70%;
    padding: 50px;
    box-shadow: 0 0 10px gray;
}

#cadastrar-produto input, select{
    width: 50%;
    border-radius: 10px;
    margin: 10px;
    background-color: #724EBA;
    color: #fff;
    padding: 10px 0; 
    padding-left: 5%;   
    font-family: OpenSans-Regular;
    font-size: 13pt;
    border: none;
}
#cadastrar-produto label{
    color: #fff;
    font-family: OpenSans-Bold;
    background-color: #724EBA;
    padding: 0 10px;
    margin-bottom: 0;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
}
#cadastrar-produto textarea{
    width: 50%;
    border-radius: 10px;
    margin: 10px;
    margin-top: 0;
    background-color: #724EBA;
    color: #fff;
    padding: 10px 0; 
    padding-left: 1%;   
    font-family: OpenSans-Regular;
    font-size: 13pt;
    border: none;
}

#cadastrar-produto #radio-ativo{
    background-color: #724EBA;
    width: 50%;
    border-radius: 10px;
    color: #fff;
}

#cadastrar-produto input::placeholder{
    color: #fff;
}

#cadastrar-produto #btn_default{
    background-color: #724EBA;
	color: #fff;
	width: 20% !important;
	border-radius: 20px;
	padding: 10px 0;
	font-family: OpenSans-Regular;
	font-size: 14pt;
}

#cadastrar-produto h1{
    font-family: OpenSans-Bold;
    color: #6343A1;
    padding: 20px;
}

#cadastrar-produto label{
    font-family:  OpenSans-Regular;
}


/* Listar Produto */
#listar-produto{
    background-color: #C3ADF0;
    width: 70%;
    padding: 50px;
    box-shadow: 0 0 10px gray;
}

#listar-produto h1{
    font-family: OpenSans-Bold;
    color: #6343A1;
    padding: 20px;
}


/* Visualizar Produto */
#conteudo h1{
    font-family: OpenSans-Bold;
    color: #6343A1;
    font-size: 20pt;
}
#valoresProduto span{
    font-family: OpenSans-Bold;
    color: #6343A1;
    font-size: 20pt;
}

#valoresProduto{
    text-align: left;
    display: flex;
    width: 30%;
    background-color: #C3ADF0;
    padding: 100px 5%;
}

#valoresProduto #precosCondicoes div{
    display: flex;
}
#valoresProduto #btn_default{
    background-color: #724EBA;
	color: #fff;
	border-radius: 20px;
    padding: 10px 10px;
	font-family: OpenSans-Regular;
    font-size: 14pt;
    margin-top: 50px;
    cursor: pointer;
}




/* Visualizar Produto */

#conteudo h1{
    text-align: center;
}

#dadosProduto{
    display: flex;
    text-align: center;
    width: 100%;
    padding: 60px 0px;
   
}

#div_image{
    background-color: darkgray;
    width: 40%;
}




#fotosProduto{
    display: block;
    text-align: center;
    width: 60%;
    border: 1px grey solid;
    margin-right: 10px;
    border-radius: 4%;

}





/*Carrousel*/
#imagem img{
    border: grey solid 1px;
    border-radius: 4%;
    width: 100%;
}
#imagem{
    margin:10px
}
#galeria{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    margin: 2px;
    border: rebeccapurple solid 1;
}


.miniatura{
    border: grey solid 1px;
    margin: 10px;
}
.miniatura img{
    width: 100%;
    cursor: pointer;
}

#conteudoGaleria{
    width:70%;
    display: flex;
}
#descricao_produto{
    
}
#modal_acoes{
    padding: 30px;
    display: none;
    width: 50%;
    position: fixed;
    top: 35%;
    left: 25%;
    color: #fff;
    background-color: #6343A1;
}

@media only screen and (max-width: 1300px) {
    #conteudo{
        width: 100%;
    }
    #dadosProduto{
        display: block;
    }
    #fotosProduto{
        width: 100%;
    }
   }
