*{
    margin: 0 auto;
}
body{
    background: url(https://themes.kabum.com.br/conteudo/layout/1413/bg.jpg?int_banner_name=THEME-RTX-SERIE30&int_banner_position=tematizacao_listagem);
    
}

 

header{
        text-align: center;
        padding: 50px;
        background: url(https://img.freepik.com/vetores-gratis/projeto-do-fundo-multicolor_1117-99.jpg?size=338&ext=jpg);
        color: white    
}

#conteudo{
    display: block;
    text-align: center;
    width: 70%;
    background-color: white;

}
#conteudo label{
    margin: 15px;
}
#conteudo h1{
    text-align: center;
}
#conteudo label{
}

#div_image{
    background-color: darkgray;
    width: 40%;
}


#dadosProduto{
    display: flex;
    text-align: center;
    width: 100%;
    border: 1px green solid;
    padding: 60px 0px;
    
}

#fotosProduto{
    display: block;
    text-align: center;
    width: 60%;
    border: 1px grey solid;
    margin-right: 10px;
    border-radius: 4%;

}
#valoresProduto{
    text-align: center;
    width: 40%;
    border: 1px orange solid;
    background-color: purple;

    
}
#caixaMarcaProduto{
    text-align: center flex;
    width: 20%;
    border: 1px orange solid;
    background-color: white;

    
}

#descProduto{
    text-align: center;
    width: 99%;
    border: 1px orange solid;
    background-color: purple;

    
}
#abaDesc{
    left: 0%;
    text-align: center;
    width: 10%;
    border: 1px green solid;
    background-color: green;

}
#imagem img{
    border: grey solid 1px;
    border-radius: 4%;
    width: 100%;
}
#imagem{
    margin:10px
}
#galeria{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    margin: 2px;
    border: rebeccapurple solid 1;
}


.miniatura{
    border: grey solid 1px;
    margin: 10px;
}
.miniatura img{
    width: 100%;
      
}

#conteudoGaleria{
    width:70%;
    display: flex;
}

@media only screen and (max-width: 1300px) {
    #conteudo{
        width: 100%;
    }
    #dadosProduto{
        display: block;
    }
    #fotosProduto{
        width: 100%;
    }
   }
