<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <title>Cadastro de Produto</title>
</head>

<body>
    <header>
        <div>
            <h1>Header: Cadastro de Administrador</h1>
        </div>
    </header>

    <div id="conteudo">

        <div id="cadastrar-produto">
            <h1>Atualizar de Produto:</h1>

            <form action=""  id="campos-cadastro" method="post" enctype="multipart/form-data" th:object="${produtos}">
                <input type="text" id="nome_produto" name="nome_produto" placeholder="Nome do Produto" th:value="${produtos.nomeProduto}"><br>
                <input type="number" id="qtde_produto" name="qtde_produto" placeholder="Quantidade" min="0" step="1" th:value="${produtos.qtde}"><br>
                <input type="text" id="marca_produto" name="marca_produto" placeholder="Marca do Produto"  th:value="${produtos.marca}"><br>
                <select id="categoria_produto" name="categoria_produto" placeholder="Categoria do Produto">
                    <option value="">Selecione uma Categoria </option>
                    <option value="placa_de_video">Placa de Video</option>
                    <option value="processador">Processador</option>
                    <option value="placa_mae">Placa Mae</option>
                    <option value="memoria_ram">Memoria Ram</option>
                    <option value="fonte">Fonte</option>
                </select><br>
                
                <div id="galeria">
                    <div id="conteudoGaleria">
                        
                        <div class="miniatura">
                            <img th:src="${produtos.imagem1}"
                                alt="">
                        </div>
                        <div class="miniatura">
                            <img th:src="${produtos.imagem2}"
                                alt="">
                        </div>
                        <div class="miniatura">
                            <img th:src="${produtos.imagem3}"
                                alt="">
                        </div>
                        <div class="miniatura">
                            <img th:src="${produtos.imagem4}"
                                alt="">
                        </div>
                        <div class="miniatura">
                            <img th:src="${produtos.imagem5}"
                                alt="">
                        </div>
                    </div>
                </div>
                
                
                <label for="imagem1">Imagem 1: </label><br><input type="file" id="imagem1" name="imagem1" accept="image/jpg" maxlength="50000"><br>
                <label for="imagem2">Imagem 2: </label><br><input type="file" id="imagem2" name="imagem2" accept="image/jpg" maxlength="50000"><br>
                <label for="imagem3">Imagem 3: </label><br><input type="file" id="imagem3" name="imagem3" accept="image/jpg" maxlength="50000"><br>
                <label for="imagem4">Imagem 4: </label><br><input type="file" id="imagem4" name="imagem4" accept="image/jpg" maxlength="50000"><br>
                <label for="imagem5">Imagem 5: </label><br><input type="file" id="imagem5" name="imagem5" accept="image/jpg" maxlength="50000"><br>

                <label for="descricao_produto">Descrição do Produto:</label><br>
                <textarea id="descricao_produto" name="descricao_produto"  th:text="${produtos.nomeProduto}">

                </textarea><br>
                <input type="text" id="valor_produto" name="valor_produto" placeholder="Valor do Produto" th:value="${produtos.valor}"><br>
                <div id="radio-ativo">
                    <label>Cadastrar Ativo?</label><br>
                    <label>Sim</label> <input type="radio" name="cadastro_ativo" value="true"><br>
                    <label>Não</label> <input type="radio" name="cadastro_ativo" value="false">
                </div>

            <input type="submit" value="Atualizar Produto" id="btn_default">


            </form>
            <!--
                    <div id="div_image">
    
                        <div>
                            <label>Escolha a imagem principal: </label><br>
                            <label>Tamanho médio</label><input type="file" id="img_1_m" name="img_1_m" accept="image/png" maxlength="50000"><br>
                            <label>Tamanho grande</label><input type="file" id="img_1_g" name="img_1_g" accept="image/png" maxlength="90000"><br>
                        </div>
    
                        <div>
                            <label>Escolha a segunda imagem: </label><br>
                            <label>Tamanho médio</label><input type="file" id="img_2_m" name="img_2_m" accept="image/png" maxlength="50000"><br>
                            <label>Tamanho grande</label><input type="file" id="img_2_g" name="img_2_g" accept="image/png" maxlength="90000"><br>
                        </div>
    
                        <div>
                            <label>Escolha a terceira imagem: </label><br>
                            <label>Tamanho médio</label><input type="file" id="img_3_m" name="img_3_m" accept="image/png" maxlength="50000"><br>
                            <label>Tamanho grande</label><input type="file" id="img_3_g" name="img_3_g" accept="image/png" maxlength="90000"><br>
                        </div>
    
                        <div>
                            <label>Escolha a quarta imagem: </label><br>
                            <label>Tamanho médio</label><input type="file" id="img_4_m" name="img_4_m" accept="image/png" maxlength="50000"><br>
                            <label>Tamanho grande</label><input type="file" id="img_4_g" name="img_4_g" accept="image/png" maxlength="90000"><br>
                        </div>
    
                        <div>
                            <label>Escolha a quinta imagem: </label><br>
                            <label>Tamanho médio</label><input type="file" id="img_5_m" name="img_5_m" accept="image/png" maxlength="50000"><br>
                            <label>Tamanho grande</label><input type="file" id="img_5_g" name="img_5_g" accept="image/png" maxlength="90000"><br>
                        </div>
    
                    </div>
                    -->

        </div>







    </div>



</body>

</html>