<html lang='pt-br'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://localhost:8080/js/jquery.mask.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/jquery.validate.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


        <title>Lexian - Principal</title>
    </head>
    <body>

        <header>
            <div id='bottons_up'>
                <div id='login_and_register'>
                    <button id='login_button' class='header_bottons'>LOGIN</button >
                    <button id='register_botton' class='header_bottons'>REGISTRE-SE</button>
                </div>
                <div id='shopping-carts'>
                    <button id='shopping-carts_botton' class='header_bottons'>CARRINHO</button>
                </div>
            </div>
            <div id='search'>

                <label for="search_input">LEXIAN</label>

                <input type="text" placeholder="" id='search_input'>  

                <div id='search_button'>
                    <img src="images/search_button.png" alt="">
                </div>      

            </div>
        </header>

        <div id='content'>
            <div id='added-products'>
                <div id='added-header'>
                    <label> Produtos Adicionados ao Carrinho</label>  
                </div>
            </div>

            <div id='added-cart-product'>
                <form action="/carrinho/atualizar" method="POST" th:each="produto, stat: ${session['carrinho']}"  th:id="|form${produto.idProduto}|">
                    <div id='added-cart-product-content'>
                        <div id='added-cart-product-info'>
                            <div id='added-cart-product-info-img'>
                                <img th:src="${produto.imagem}">
                            </div>
                            <div id='added-cart-product-info-content'>
                                <label th:text="${produto.nomeProduto}"></label><br><br>
                                <label th:text="${produto.valor}"></label><br>    
                            </div>
                        </div>  

                        <div id='added-cart-product-amost'>
                            <label>Quantidade</label><br><br>

                            <input type="number" name="qtde_produto" th:id="|quant${produto.idProduto}|" min="0"  th:value="${produto.qtde}"  onchange="this.form.submit()"> 
                            <input type="hidden" name="id_produto" th:value="${produto.idProduto}">


                        </div>
                        <div id='added-cart-product-total'>
                            <label>Total (á vista)</label><br>
                            <input type="hidden" name="valor_produtos" th:value="${produto.valor * produto.qtde}"></label><br>

                            <label th:text="|R$ ${produto.valor * produto.qtde} |"></label><br>

                            <button th:onclick="|removerProduto(${produto.idProduto})|">X</button>


                        </div>
                    </div>
                </form>
                <div id="added-finally">
                    <div id="added-finally_cep">
                        <div id="added-finally_cep_content">
                            <div>
                                <label>CEP: </label><input type="text" id="cep_campo" placeholder="Digite aqui!"><br>
                                <div> <label>SEDEX: </label><input type="radio" name="correios" value="sedex" onchange="calcularFrete()" >  </div>
                                <div> <label>PAC: </label><input type="radio" name="correios" value="pac" onchange="calcularFrete()"> </div>
                                <div> <label>LOG: </label><input type="radio" name="correios" value="log" onchange="calcularFrete()">  </div>

                            </div>
                            <label id="correios_total">Erro ao carregar Frete</label>
                        </div>

                    </div>
                    <div id="added-finally_total">
                        <label id="subtotal">Erro ao carregar Sub Total</label>
                    </div>
                </div>

                <div id="added-finally_finally"> 
                    <a href="/carrinho/dadosdecompra">Finalizar Compra</a>
                </div>
            </div>

        </div>
    </body>

    <script>

        function removerProduto(id) {

            var confirmacao = confirm("Produto Removido !");

            if (confirmacao == true) {
                document.getElementById("quant" + id).value = 0;
                document.getElementById("form" + id).submit();
            }

        }

        function calcularFrete() {
            var correios = $('input[name="correios"]:checked').val();
            var valor_correios = 0;
            if (correios == "sedex") {
                valor_correios = 60
            } else if (correios == "pac") {
                valor_correios = 50
            } else if (correios == "log") {
                valor_correios = 55
            }

            $('#correios_total').html("Preço do frete: R$ " + valor_correios);

            var total = 0;

                        $('input[name="valor_produtos"]').each(function () {
                                total = total + Number($(this).val());  
                        });

            var total_soma = parseFloat(total) + parseFloat(valor_correios)

            $('#subtotal').html("Sub Total: R$ " + total_soma);


        }


        calcularFrete();

        $('#cep_campo').mask('00000-000', {reverse: true});

    </script>


</html>