<html lang='pt-br'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://localhost:8080/js/jquery.mask.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/jquery.validate.js"></script>


    <title>Lexian - Principal</title>
</head>

<body>

    <header>
        <div id='bottons_up'>
            <div id='login_and_register'>
                <button id='login_button' class='header_bottons'>LOGIN</button>
                <button id='register_botton' class='header_bottons'>REGISTRE-SE</button>
            </div>
            <div id='shopping-carts'>
                <button id='shopping-carts_botton' class='header_bottons'>CARRINHO</button>
            </div>
        </div>
        <div id='search'>

            <label for="search_input">LEXIAN</label>

            <input type="text" placeholder="" id='search_input'>

            <div id='search_button'>
                <img src="/images/search_button.png" alt="">
            </div>

        </div>
    </header>
    <input type="hidden" name="mensagem_alert" id="mensagem_alert" th:if="${session['mensagem'] != null}"
        th:value="${session['mensagem']}" th:unless="${'Bem Vindo!'}">
    <div id='content'>
        <div id='telainicial-oferta'>
            <div id='telainicial-oferta-header'>
                <label> TÍTULO OFERTA </label>
            </div>
            <div id="telainicial-oferta-content">
                <div id="telainicial-oferta-content-carts"  th:each="prod, stat: ${produtos}">
                    <div id="telainicial-oferta-content-carts-image">
                        <img src="img/RX580/rx5802.jpg">
                    </div>
                    <div id="telainicial-oferta-content-carts-content">
                        <div id="telainicial-oferta-content-carts-content-titulo">
                            <label th:text="${prod.nomeProduto}"></label>
                        </div>
                        <div id="telainicial-oferta-content-carts-content-preco">
                            <label th:text="${prod.valor}"> </label>
                        </div>
                        <button th:onclick="|encaminharCarrinho('${prod.idProduto}')|">Comprar</button>
                    </div>
                </div>
            </div>

            <div id="telainicial-produtos">
                
                <div id="telainicial-oferta-content-carts" th:each="prod, stat: ${produtos}">
                    <div id="telainicial-oferta-content-carts-image">
                        <img src="img/RX580/rx5802.jpg">
                    </div>
                    <div id="telainicial-oferta-content-carts-content">
                        <div id="telainicial-oferta-content-carts-content-titulo">
                            <label th:text="${prod.nomeProduto}"></label>
                        </div>
                        <div id="telainicial-oferta-content-carts-content-preco">
                            <label th:text="${prod.valor}"> </label>
                        </div>
                        <button th:onclick="|encaminharCarrinho('${prod.idProduto}')|">Comprar</button>
                    </div>
                </div>
                
            </div>

            <div id="telainicial-produtos">
                
                <div id="telainicial-oferta-content-carts" th:each="prod, stat: ${produtos}">
                    <div id="telainicial-oferta-content-carts-image">
                        <img src="img/RX580/rx5802.jpg">
                    </div>
                    <div id="telainicial-oferta-content-carts-content">
                        <div id="telainicial-oferta-content-carts-content-titulo">
                            <label th:text="${prod.nomeProduto}"></label>
                        </div>
                        <div id="telainicial-oferta-content-carts-content-preco">
                            <label th:text="${prod.valor}"> </label>
                        </div>
                        <button th:onclick="|encaminharCarrinho('${prod.idProduto}')|">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    
    function encaminharCarrinho(id){
        
        window.location.href = "http://localhost:8080/carrinho/adicionar?adicionarCarrinho="+id;

    }
    
    
</script>

</html>