<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="./teste.css">

    <title>Document</title>
</head>
<body>
    <div>
        <p>Future - Life Is Good (Official Music Video) ft. Drake
            1 119 300 479 visualizações•10/01/2020
            
            5,9 M
            
            468 MIL
            
            PARTILHAR
            
            GUARDAR
            
            
            Future
            9,75 M subscritores
            Official video for “Life Is Good” by Future​
            Listen to Future:  https://Future.lnk.to/listenYD​
            Subscribe to the official Future YouTube Channel: https://Future.lnk.to/subscribeYD​
            
            Watch Future’s music videos:  https://Future.lnk.to/MusicVideosYD​
            
            Follow Future:​
            Facebook: https://Future.lnk.to/followFI​
            Twitter:  https://Future.lnk.to/followTI​
            Instagram:  https://Future.lnk.to/followII​
            Website:  https://Future.lnk.to/followWI​
            Spotify:  https://Future.lnk.to/followSI​
            
            Lyrics:​
            Workin' on a weekend like usual
            Way off in the deep end like usual
            Niggas swear they passed us, they doin' too much
            Haven't done my taxes, I'm too turnt up
            Virgil got a Patek on my wrist goin' nuts
            Niggas caught me slippin' once, okay, so what?
            Someone hit your block up, I'd tell you if it was us
            Manor house in Rosewood, this shit too plush
            
            #Future #LifeIsGood #HighOffLife
            158 201 comentários
            Alex Sandey
            Adicionar comentário público…
            Saint_Pingu
            Saint_Pingu
            Há 9 meses
            When you so rich you just start doing normal jobs for fun
            
            314 mil
            
            
            Jonno Plays
            Jonno Plays
            Há 1 dia
            If you're feeling lonely just think about how many people are watching this video with you right now 🤗
            
            351
            
            
            Mleeban
            Mleeban
            Há 2 dias
            if anyone is wondering why there are almost half a million dislikes is because the song just plays randomly when your not on your device which is very weird youtube definitely boosted there streams or something
            
            372
            
            
            arif
            arif
            Há 1 dia
            1 billion in less than a year, WTF DRAKE GO CRAZY
            
            365
            
            
            noahm 1337
            noahm 1337
            Há 2 dias
            The dislikes is from people who didn't do their taxes
            
            281
            
            
            Aidan Buckley
            Aidan Buckley
            Há 9 meses
            “excuse me sir, why is my sprite purple?”
            
            38 mil
            
            
            DEE ZANe
            DEE ZANe
            Há 1 dia
            I pray to God that who ever  reading this becomes successful in life
            
            171
            
            
            ĐȺɍꝁ ɌɇȺłm
            ĐȺɍꝁ ɌɇȺłm
            Há 1 dia
            I swear Future said "oooooh" like more than a million times fr.
            
            16
            
            
            Isaac Jandalala
            Isaac Jandalala
            Há 1 dia
            The dislikes are from people that did their taxes.
            
            70
            
            
            Kawser 1.
            Kawser 1.
            Há 2 dias
            When you’re finishing a treadmill session  play this song last. Futures verses and dat beat switch give you that extra oomph
            
            19
            
            
            sonicjrjr14
            sonicjrjr14
            Há 9 meses (editado)
            Drake: "Haven't done my taxes, I'm too turnt up."
            
            IRS: ".....interesting"
            
            53 mil
            
            </p>
    </div>
    <div id='teste_modal'>
        <h1>TESTE</h1>
        <form action="">

            <button>teste</button>
        </form>
        <form action="">

            <button>teste</button>
        </form>
        <form action="">

            <button>teste</button>
        </form>
    </div>
    <div>
        <p>Future - Life Is Good (Official Music Video) ft. Drake
            1 119 300 479 visualizações•10/01/2020
            
            5,9 M
            
            468 MIL
            
            PARTILHAR
            
            GUARDAR
            
            
            Future
            9,75 M subscritores
            Official video for “Life Is Good” by Future​
            Listen to Future:  https://Future.lnk.to/listenYD​
            Subscribe to the official Future YouTube Channel: https://Future.lnk.to/subscribeYD​
            
            Watch Future’s music videos:  https://Future.lnk.to/MusicVideosYD​
            
            Follow Future:​
            Facebook: https://Future.lnk.to/followFI​
            Twitter:  https://Future.lnk.to/followTI​
            Instagram:  https://Future.lnk.to/followII​
            Website:  https://Future.lnk.to/followWI​
            Spotify:  https://Future.lnk.to/followSI​
            
            Lyrics:​
            Workin' on a weekend like usual
            Way off in the deep end like usual
            Niggas swear they passed us, they doin' too much
            Haven't done my taxes, I'm too turnt up
            Virgil got a Patek on my wrist goin' nuts
            Niggas caught me slippin' once, okay, so what?
            Someone hit your block up, I'd tell you if it was us
            Manor house in Rosewood, this shit too plush
            
            #Future #LifeIsGood #HighOffLife
            158 201 comentários
            Alex Sandey
            Adicionar comentário público…
            Saint_Pingu
            Saint_Pingu
            Há 9 meses
            When you so rich you just start doing normal jobs for fun
            
            314 mil
            
            
            Jonno Plays
            Jonno Plays
            Há 1 dia
            If you're feeling lonely just think about how many people are watching this video with you right now 🤗
            
            351
            
            
            Mleeban
            Mleeban
            Há 2 dias
            if anyone is wondering why there are almost half a million dislikes is because the song just plays randomly when your not on your device which is very weird youtube definitely boosted there streams or something
            
            372
            
            
            arif
            arif
            Há 1 dia
            1 billion in less than a year, WTF DRAKE GO CRAZY
            
            365
            
            
            noahm 1337
            noahm 1337
            Há 2 dias
            The dislikes is from people who didn't do their taxes
            
            281
            
            
            Aidan Buckley
            Aidan Buckley
            Há 9 meses
            “excuse me sir, why is my sprite purple?”
            
            38 mil
            
            
            DEE ZANe
            DEE ZANe
            Há 1 dia
            I pray to God that who ever  reading this becomes successful in life
            
            171
            
            
            ĐȺɍꝁ ɌɇȺłm
            ĐȺɍꝁ ɌɇȺłm
            Há 1 dia
            I swear Future said "oooooh" like more than a million times fr.
            
            16
            
            
            Isaac Jandalala
            Isaac Jandalala
            Há 1 dia
            The dislikes are from people that did their taxes.
            
            70
            
            
            Kawser 1.
            Kawser 1.
            Há 2 dias
            When you’re finishing a treadmill session  play this song last. Futures verses and dat beat switch give you that extra oomph
            
            19
            
            
            sonicjrjr14
            sonicjrjr14
            Há 9 meses (editado)
            Drake: "Haven't done my taxes, I'm too turnt up."
            
            IRS: ".....interesting"
            
            53 mil
            
            </p>
    </div>
</body>
</html>